<div class="p-5 bg-black"></div>
<header class="header md:px-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="hidden md:block">
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" >
            <img class="logo" src="../../assets/logo.png">
        <div fxLayout="row" fxLayoutGap="15px">
            <a class="element">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                Home
            </a>
        
            <a class="element">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
                Trustees
            </a>
        
            <a class="element">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                Professionals
            </a>
        
            <a class="element">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
                More
            </a>
        </div>
        </div>
        
    </div>
    <div class="md:hidden">
        <button mat-icon-button>
            <mat-icon>menu-item</mat-icon>
        </button>
    </div>
    

    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <button class="invite-button">
            <mat-icon>mail</mat-icon>
            Invite
        </button>
        <img class="profile-pic" src="../../assets/user.png" >
    </div>
</header>
