<div class="border border-gray-200 bg-white p-4 w-full flex flex-col justify-center items-center">
    <img class="w-36 h-36 rounded-full shadow-lg" src="assets/pic.png" alt="Bonnie image"/>
    <span class="text-xl">Jone Smith</span>
    <span class="uppercase text-gray-400 mb-0">cfa, cic</span>
    <span class="text-xs flex space-x-3 items-center">
        <img src="assets/crown.png" class="h-4">
        <span>Premium member</span>
    </span>
    <span class="flex space-x-3 items-baseline mt-7 border-b pb-3">
        <img src="assets/cap.png" class="h-5">
        <span>Insurance Agent, Attorney, Accountant</span>
    </span>
    <span class="flex space-x-3 items-center mt-2 py-3 text-custom">
        <mat-icon>mail</mat-icon>
        <span>Send an Email</span>
    </span>
</div>