<form *ngIf="form" (ngSubmit)="submit()" [formGroup]="form">
    <div class="border-b border-gray-200" fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

        <h2 class="headline m-0 capitalize" fxFlex="auto">Edit Profile</h2>
        
        <button mat-dialog-close mat-icon-button type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="w-full">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Domain</mat-label>
            <input matInput formControlName="domain" required>
        </mat-form-field>
        <div class="flex space-x-3">
            <mat-label>Gender</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="gender" class="mb-2">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button class="ml-2" value="Female">Female</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <mat-form-field class="example-full-width"  >
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Phone Number</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input type="number" matInput formControlName="phone_number" required>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Location</mat-label>
            <textarea formControlName="location"  matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button [disabled]="form.invalid" *ngIf="!data" color="primary" mat-flat-button
            type="submit">CREATE</button>
        <button [disabled]="form.invalid" *ngIf="data" color="primary" mat-flat-button
            type="submit">UPDATE</button>
    </mat-dialog-actions>
</form>